<DOCTYPE html>
<html>

    <head> <!-- cabecalho da pagina -->
        <meta charset = "utf-8">
        <link rel = "stylesheet" type = "text/css" href = "test.css">
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro:900&display=swap" rel="stylesheet">
        <title>TITULO</title>
    </head>

    <body> <!-- corpo da pagina -->
        
        <nav> <!-- menu de navegacao -->
            
            <!-- logo -->
            <div id = "nav-logo">
                <img alt = " LOGO ">
            </div>

            <!-- links de navegacao -->
            <ul id = "nav-list">
                <li>
                    <div id = "nav-pg1">
                        Servidores
                    </div>
                </li>
            
                <li>
                    <div id = "nav-pg2">
                        Serviços linux
                    </div>
                </li>
            
                <li>
                    <div id = "nav-pg3">
                        Consultoria
                    </div>
                </li>

                <li>
                    <div id = "nav-pg4">
                        Fale conosco
                    </div>
                </li>

                <li>
                    <div id = "nav-pg5">
                        Sobre
                    </div>
                </li>

            </ul>

            <!-- pagina de login -->
            <div id = "nav-login">
                Login / Cadastro
            </div>

        </nav>

        <!-- titulo da pagina -->
        <header>
            <h1>Título</h1>
        </header>

        <main> <!-- conteudo principal -->

            <section class = "main-post">
                <p>Texto...</p>
                <img alt = "img1">
            </section>

            <hr>

            <section class = "main-post">
                <img alt = "img2">
                <p>Texto...</p>
            </section>

        </main>

        <footer> <!-- rodape -->
            André R. & Rodrigo A. | Copyrigth &copy; 2019
        </footer>

    </body>
    
</html>
